$border-radius: 8%;
$border: 10px solid #ffc670;
$color: #4c2c21; //oscuro
$color2: #ffc670; //medio
$color3: #faebd7;//claro
$background-color: #4c2c21; //oscuro
$background-color2: #ffc670; //medio 
$background-color3:  #faebd7; //claro
$padding: 3% 0;
$padding-left: 18%;
